<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="SrHaax_">
    <meta name="Description" content="Best minecraft free alts!">
    <meta name="keywords" content="minecraft, alts, accounts, minecraft.net, optifine, minecraft accounts">
    <meta name="robots" content="index">

    <title>freePLUS - Best minecraft free alts!</title>

    <script src="https://kit.fontawesome.com/15e0b2f1e3.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- CSS -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <header class="header">
        <h2 style="font-weight: 300;">free<span class="rgba" style="font-weight: bold;">PLUS</span></h2>
    </header>

    <main class="main pt-5">
        <div class="card mx-auto p-3" style="width: 720px; background-color: #07091f; box-shadow: 5px 5px 5px black;">
            <h2 style="font-weight: 500; color: white;">TOKEN AUTHENTICATE</h2>
            <p> <b>-></b> IF YOU NOT IS ADMIN... CLOSE THIS PAGE!! <b><-</b></p>
            @if(flashMessage('loginError'))
              <div class="alert alert-danger" role="alert">
                  {{ flashMessage('loginError') }}
              </div>
            @endif
            <form action={{ route('UserController.authenticate') }} method="POST">
                {{ csrfField() }}
                <div class="form-group">
                    <input type="text" name="token" class="form-control" placeholder="Token..." style="padding: 30px;">
                </div>
                <div class="form-group pt-3">
                    <button class="btn_1" type="submit">AUTHENTICATE</button>
                </div>
            </form>
        </div>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>